{% extends 'base.html.twig' %}

{% block body %}

    <!-- ----------------------Find us------------------------- -->

    <div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Find us</span>
					<h2>Retailers.</h2>
					<p>Let's discover our amazing retailers.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{ asset('./assets/images/bioshanti.jpg')}})">
							<div class="inner">
								<p>
									{# <a href="#" class="icon"><i class="icon-eye"></i></a> #}
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Bio Shanti</a></h3>
                            <h3><a href="single.html">Av. Adolphe Buyl 70, 1050 Ixelles, Belgium</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{ asset('./assets/images/sequoia.jpg')}})">
							<div class="inner">
								<p>
									{# <a href="#" class="icon"><i class="icon-eye"></i></a> #}
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Sequoia</a></h3>
                            <h3><a href="single.html">Ch. de Bruxelles 63, 1410 Waterloo, Belgium</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{ asset('./assets/images/infinity.jpg')}})">
							<div class="inner">
								<p>
									{# <a href="#" class="icon"><i class="icon-eye"></i></a> #}
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Infinity Foods</a></h3>
                            <h3><a href="single.html">25 North Rd, Brighton BN1 1YA, Royaume-Uni</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}